* {
    box-sizing: border-box;
    margin: 0px;
  }
  
  img {
    max-width: 100%;
  }

.invalid-feedback{
font-size: large;
font-weight: bold;
}
th{
  font-size: large;
  font-weight: bold;
}
tr{
  font-size: medium;
  font-weight: bold;
  
}
  body {
    background-color: rgb(129, 86, 86);
    background-size: 250px;
    display: grid;
    grid-template-areas:
      "header header"
      "nav nav"
      "main aside"
      "tags tags"
      "form form"
      "book book"
      "new new"
      "footer footer";
  }
  
  #categoria {
    grid-template-areas: "header header" "nav nav" "title title" "main aside" "footer footer";
  }
  
  .header {
    /* background: rgb(20, 4, 4); */
    background: linear-gradient(
  90deg,
      rgba(20, 4, 4, 1) 5%,
      rgba(157, 29, 36, 1) 100%);
    background-size: cover;
    grid-area: header;
    height: calc(20px + 2vw);
    text-align: right;
    vertical-align: sub;

  }
  
  .header__logo {
    padding: 2%;
    width: 15%;
    height: auto;
  }
  .header__category {
    padding: 16px 0px;
    width: max-content;
 
  }
  
  .header__category__link {
    color: white;
    text-decoration: none;
  }
  
  .header__category__link__span {
    
    font-size: calc(0.5em + 1vw);
    padding: 16px 20px;
  }
  
  .header__index:hover,
  .header__category:hover {
    background-color: #f9f2f23b;
    transition: 0.5s;
  }
  
  .nav {
    border-top: linear-gradient(
      90deg,
      rgba(20, 4, 4, 1) 5%,
      rgba(157, 29, 36, 1) 100%);
    display: flex;
    background: linear-gradient(
     
      90deg,
      rgba(20, 4, 4, 1) 5%,
      rgba(157, 29, 36, 1) 100%);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    grid-area: nav;
    position: sticky;
    top: 0px;
    z-index: 100;
  }
  
  .nav.no-sticky {
    position: static;
  }
  
  .nav__index__img {
    padding: 10px 5px;
    width: calc(10px + 4vw);
  }
  
  .nav__options {
    background: linear-gradient(
      90deg,
      rgba(20, 4, 4, 1) 5%,
      rgba(157, 29, 36, 1) 100%);
    border-bottom-right-radius: 20px;
    font-size: calc(0.5em + 1vw);
    display: none;
    width: max-content;
    position: absolute;
  }
  
  .nav__options__link {
    color: white;
    display: block;
    padding: 10px 50px 10px 15px;
    text-decoration: none;
  }
  
  .nav__category {
    padding: 16px 0px;
    width: max-content;
  }
  
  .nav__category__link {
    color: white;
    text-decoration: none;
  }
  
  .nav__category__link__span {
    font-size: calc(0.5em + 1vw);
    padding: 16px 20px;
  }
  
  .nav__index:hover,
  .nav__category:hover {
    background-color: #1111113b;
    transition: 0.5s;
  }
  
  .nav__index:active,
  .nav__category:active {
    background-color: #5a0000;
  }
  
  .nav__index:hover .nav__options {
    display: block;
  }
  
  .nav__options__link:hover {
    background-color: #1111113b;
    transition: background-color 50ms;
  }
  
  .nav__options__link:active {
    background-color: #00000083;
  }
  
  .nav__options__link.last:hover {
    background-color: #0000003a;
    border-bottom-right-radius: 20px;
  }
  
  .nav__options__link.last:active {
    background-color: #00000083;
    border-bottom-right-radius: 20px;
  }
  /* .buscador{
    align-content: start;
    /** background-color: var(--ctl-bgdiv);
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: auto;
    max-width: 1200px;
    margin: 10px 5px 10px 10px;
    padding: 20px 10px;
    /* height: calc(100px + 30vw); 
  } */
  .main {
    align-content: start;
    /** background-color: var(--ctl-bgdiv);*/
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: end;
    max-width: 1200px;
    margin: 10px 5px 10px 10px;
    padding: 20px 10px;
    /* height: calc(100px + 30vw); */
  }
  
  .main__book {
    box-shadow: 0.125em 0.125em 0.125em gray,
      0.75em 0.75em 0.75em rgba(0, 0, 0, 0.2), 2em 2em 5em rgba(0, 0, 0, 0.3);
    height: 375px;
    margin: 20px;
    overflow: hidden;
    padding-top: 180px;
    position: relative;
    width: 250px;
    /* width: 500px;
    flex-basis: 50%;
    align-items: flex-start;*/
  }
  
  .main__book__link {
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
  }
  
  .main__book__cover {
    background: #ccc;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .main__book__cover img {
    height: auto;
    width: 100%;
  }
  
  .main__book__description {
    background-color: rgba(255, 255, 255, 0.4);
    bottom: 0;
    position: absolute;
    max-height: 30px;
    min-height: 30px;
    width: 100%;
  }
  
  .main__book__description__title {
    font-family: "Cinzel Decorative", cursive;
    font-size: 1.3em;
    font-weight: bold;
    padding: 6px;
  }
  
  .main__book__description__title__box {
    margin: auto;
    width: fit-content;
    max-width: 200px;
  }
  
  .main__book__description__title__box__name {
    display: inline-block;
    margin: 0px 20px;
    text-align: center;
  }
  
  .main__book__description__title__box__underline {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    height: 5px;
  }
  
  .main__book__description__tags {
    display: flex;
    flex-wrap: wrap;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    justify-content: center;
    max-height: 55px;
    padding: 5px;
    position: relative;
    opacity: 0;
    overflow: hidden;
    z-index: 50;
  }
  
  .main__book__description__tags__link {
    background-color: gainsboro;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    color: black;
    margin: 2px;
    padding: 2px 5px;
    text-decoration: none;
  }
  
  .finish,
  .no-finish,
  .sketchy,
  .plus {
    color: rgba(0, 0, 0, 0.6);
  }
  
  .finish {
    background-color: springgreen;
  }
  
  .no-finish {
    background-color: orange;
  }
  
  .sketchy {
    background-color: deepskyblue;
  }
  
  .plus {
    background-color: darkgray;
  }
  
  .main__book__description__author {
    display: flex;
    flex-wrap: wrap;
    font-family: "Sarabun", sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    margin: 5px 0px;
    opacity: 0;
    padding: 0px 10px;
  }
  
  .main__book__description__author__label {
    margin-right: 5px;
  }
  
  .main__book__description__synopsis {
    font-family: "Times New Roman", Times, serif;
    opacity: 0;
    padding: 0px 10px 10px;
    text-align: justify;
  }
  
  .main__book__description__synopsis__label {
    font-weight: bold;
  }
  
  .main__book:hover {
    box-shadow: 0.125em 0.125em 0.125em rgb(243, 3, 3),
      0.75em 0.75em 0.75em rgb(138, 21, 21), 1em 1em 3em rgba(48, 8, 8, 0.5);
  }
  
  .main__book:hover .main__book__description {
    background-color: rgba(255, 255, 255, 0.8);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 10px;
    max-height: 375px;
  }
  
  .main__book,
  .main__book:hover {
    transition: box-shadow 250ms;
  }
  
  .main__book:hover .main__book__description,
  .main__book:hover .main__book__description__tags,
  .main__book:hover .main__book__description__author,
  .main__book:hover .main__book__description__synopsis {
    opacity: 1;
    transition: 1500ms;
  }
  
  .main__book__description,
  .main__book__description__tags,
  .main__book__description__author,
  .main__book__description__synopsis {
    transition: 1750ms;
  }
  
  .main__div__p {
    font-family: "Cinzel Decorative", cursive;
    font-size: 20px;
    color: rgb(221, 221, 221);
  }
  /**lo que hace es que la foto cubra todo el fondo*/
  @supports (object-fit: cover) {
    .main__book__cover img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  
  .aside {
    grid-area: aside;
    justify-self: start;
    margin: 10px 10px 10px 5px;
    max-width: 450px;
  }
  
  .aside__event {
    color: lightgrey;
    background-color: rgba(54, 54, 54, 0.8);
    border-radius: 20px;
    display: flex;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .aside__event--publicidad {
    border-radius: 20px;
    display: flex;
    margin-bottom: 10px;
    padding: 5px;
  }
  .aside__event__figure--publicidad {
    width: 100%;
  }
  
  .aside__event__figure {
    width: 40%;
  }
  
  .aside__event__description {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    padding-left: 5px;
    width: 60%;
  }
  
  .aside__event__description__time {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .aside__event__description__text {
    font-size: 1.1em;
  }
  
  @supports (object-fit: cover) {
    .aside__event__figure img {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  
  .footer {
    color: white;
    background: rgb(20, 4, 4);
    background: linear-gradient(
      90deg,
      rgba(20, 4, 4, 1) 5%,
      rgba(157, 29, 36, 1) 100%
    );
    display: grid;
    grid-template-areas: "datos autor socialMedia";
  
    /**  display: flex;*/
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(0.5em + 1vw);
    grid-area: footer;
    height: 1 rem; /* unidad del contenedor relativa a la fuente*/
    margin-top: 10px;
    padding: 30px 20px 5px;
  }
  
  .footer p,
  .footer dt {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .footer__direction {
    /*flex-basis: 35%;*/
    grid-area: datos;
  }
  
  .footer__direction p,
  .footer dt {
    color: rgb(161, 82, 16);
  }
  
  .footer__direction span,
  .footer dd {
    color: rgb(233, 186, 116);
  }
  
  .footer__cc {
    grid-area: autor;
    /*flex-basis: 40%;*/
    text-align: center;
  }
  
  .footer__cc a {
    color: var(--ctl-bg);
  }
  
  .footer__cc a:hover {
    color: orangered;
  }
  
  .footer__social {
    align-self: center;
    grid-auto-flow: row;
    grid-area: socialMedia;
    margin: 5px;
    text-align: right;
  }
  
  .footer__social a {
    position: relative;
    text-decoration: none;
    top: -20px;
  }
  
  .footer__social img {
    width: 20%;
  }
  .footer__social__figure {
    width: 20%;
  }
  /*-------------------------------------ESTILO DE CARTAS-------------------------------*/
  .card-title {
    color: #e98e48;
  }
  
  .card-body {
    margin: 10px;
  }
  .carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  /*----------------------------------FORMULARIO------------------------------------------*/
  
  /* Formulario */
  .Mostrar {
    display: none;
  }
  .form {
   /* background-color: #C86960  ;*/
   background-color: #c5b1b0  ;
    border-radius: 30px;
    box-shadow: 0.125em 0.125em 0.125em var(--ctl-bg),
      2em 2em 3em rgb(243, 204, 98);
    color: var(--ctl-fgren);
    grid-area: form;
    max-width: 600px;
    margin: 20px auto 50px;
    padding: 30px;
    width: 80%;
  }
 
  
  .form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form__title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form__info {
    width: 100%;
  }
  
  .form__info__label {
    display: block;
    font-weight: bold;
    font-size: 1.3em;
  }
  
  .form__controls {
    width: 100%;
    background: rgba(228, 224, 224, 0.5);
    padding: 10px;
    border-radius: 10px;
    margin: 2px 0px 15px;
    border: 3px solid var(--ctl-fgren);
    font-family: "calibri";
    font-size: 18px;
    color: rgb(20, 1, 1);
  }
  
  .form__info.half {
    width: 45%;
  }
  
  .form__info__button {
    text-align: center;
    display: block;
    border-radius: 50px;
    cursor: pointer;
    width: 200px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 12px;
    color: rgb(1, 15, 1);
    font-weight: bold;
    margin: 16px auto;
    font-size: 16px;
  }
  
  .form__info__button.other {
    background-color: transparent;
  }
  
  /* Libros */
  
  .book {
    grid-area: book;
    display: grid;
    grid-template-areas: "title title" "menu content";
  }
  
  .book__title {
    border-radius: 20px;
    grid-area: title;
    height: 200px;
    overflow: hidden;
    margin: 20px auto;
    position: relative;
    width: 90%;
  }
  
  .book__title__cover {
    background: #ccc;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .book__title__cover img {
    height: auto;
    width: 100%;
  }
  
  @supports (object-fit: cover) {
    .book__title__cover img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  
  .book__menu {
    background-color: var(--ctl-bgdiv);
    border-radius: 20px;
    margin: 10px 5px 10px 10px;
    padding: 20px 40px 20px 0px;
    grid-area: menu;
    width: max-content;
    justify-self: end;
    height: max-content;
  }
  
  .book__menu li {
    margin-bottom: 5px;
    list-style: none;
    font-weight: bold;
    font-size: 1.1em;
    font-family: sans-serif;
  }
  
  .book__menu a {
    color: var(--ctl-fgren);
    text-decoration: none;
  }
  
  .book__content {
    background-color: var(--ctl-bgdiv);
    max-width: 2000px;
    margin: 10px 5px 10px 10px;
    padding: 5px 10px;
    max-height: 500px;
    grid-area: content;
    overflow: auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .book__content__chapter__title {
    margin: 20px 0px 10px;
  }
  
  .book__content__chapter__paragraph {
    text-align: justify;
    margin-bottom: 10px;
  }
  
  /* Noticia */
  
  .new {
    grid-area: new;
    display: grid;
    grid-template-areas: "title" "manager" "content";
  }
  
  .new__title {
    border-radius: 20px;
    grid-area: title;
    height: 200px;
    overflow: hidden;
    margin: 20px auto 10px;
    position: relative;
    width: 90%;
  }
  
  .new__title__cover {
    background: #ccc;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .new__title__cover img {
    height: auto;
    width: 100%;
  }
  
  @supports (object-fit: cover) {
    .new__title__cover img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  
  .new__manager {
    grid-area: manager;
    background-color: rgb(185, 89, 89);
    padding: 10px;
    margin: 10px auto;
    width: 70%;
    display: flex;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .new__manager__picture {
    display: inline;
    width: 100%;
  }
  
  .new__manager__resume {
    font-size: calc(0.6em + 1vw);
    padding-left: 10px;
    width: 60%;
  }
  
  .new__content {
    grid-area: content;
  }
  
  .new__content__video {
    display: block;
    margin: 10px auto;
    width: 70%;
  }
  
  /* Categorías */
  
  .tags {
    grid-area: tags;
    background-color: var(--ctl-bgdiv);
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    max-width: 1200px;
    margin: 10px 5px 10px 10px;
    padding: 20px 10px;
  }
  
  .tags__book {
    box-shadow: 0.125em 0.125em 0.125em gray,
      0.75em 0.75em 0.75em rgba(0, 0, 0, 0.2), 2em 2em 5em rgba(0, 0, 0, 0.3);
    margin: 20px;
    overflow: hidden;
    padding-top: 180px;
    position: relative;
    width: 250px;
  }
  
  .tags__book__link {
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
  }
  
  .tags__book__cover {
    background: #ccc;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .tags__book__cover img {
    height: auto;
    width: 100%;
  }
  
  .tags__book__description {
    background-color: rgba(255, 255, 255, 0.4);
    bottom: 0;
    position: absolute;
    max-height: 30px;
    min-height: 30px;
    width: 100%;
  }
  
  .tags__book__description__title {
    font-family: "Cinzel Decorative", cursive;
    font-size: 1.3em;
    font-weight: bold;
    padding: 7px;
  }
  
  .tags__book__description__title__box {
    margin: auto;
    width: fit-content;
  }
  
  .tags__book__description__title__box__name {
    margin: 0px 20px;
  }
  
  .tags__book__description__title__box__underline {
    background-color: goldenrod;
    border-radius: 5px;
    height: 5px;
  }
  
  .tags__book:hover {
    box-shadow: 0.125em 0.125em 0.125em white,
      0.75em 0.75em 0.75em rgb(255, 239, 196),
      1em 1em 3em rgba(255, 248, 182, 0.5);
  }
  
  .tags__book:hover .tags__book__description {
    background-color: rgba(255, 255, 255, 0.8);
    max-height: 100px;
  }
  
  .tags__book,
  .tags__book:hover {
    transition: box-shadow 250ms;
  }
  
  .tags__book:hover .tags__book__description {
    opacity: 1;
    transition: 750ms;
  }
  
  .tags__book__description {
    transition: 500ms;
  }
  
  @supports (object-fit: cover) {
    .tags__book__cover img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  
  /* Categoría */
  
  .title {
    border-radius: 20px;
    grid-area: title;
    height: 200px;
    overflow: hidden;
    margin: 20px auto 10px;
    position: relative;
    width: 90%;
  }
  
  .title__name {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 100%;
    font-size: 3em;
    color: white;
    position: absolute;
    top: calc(50% - 0.6em);
  }
  
  .title__cover img {
    height: auto;
    width: 100%;
  }
  
  @supports (object-fit: cover) {
    .new__title__cover img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  
  .registerText {
    position: relative;
  }
  /********************************************                MEDIAS QUERYS             *******************************************************/

  @media screen and (max-width: 1024px) {
    .footer {
      display: grid;
      grid-template-columns: 1fr [d] 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr ;
      gap: 0px 0px;
      grid-template-areas:
        "datos datos autor autor"
        "socialMedia socialMedia socialMedia socialMedia";
    }
    .footer__direction {
      grid-area: datos;
    }
    .footer__social {
      grid-area: socialMedia;
      align-self: center;
    }
    .footer__cc {
      grid-area: autor;
      text-align: left;
    }
  }
  
  @media screen and (max-width: 700px) {
    .footer {
      display: grid;
      grid-template-columns: 1fr [d] 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr ;
      gap: 0px 0px;
      grid-template-areas:
        "datos datos autor autor"
        "socialMedia socialMedia socialMedia socialMedia";
    }
    .footer__direction {
      grid-area: datos;
    }
    .footer__social {
      grid-area: socialMedia;
      align-self: center;
    }
    .footer__cc {
      grid-area: autor;
      text-align: left;
    }
  
    .nav {
      position: static;
    }
  }
  
  @media screen and (max-width: 400px) {
    .footer {
      grid-template-areas:
        "datos autor"
        "socialMedia socialMedia";
    }
    .nav {
      position: static;
    }
    body {
      grid-template-areas:
        "header header"
        "nav nav"
        "main main"
        "aside aside"
        "tags tags"
        "form form"
        "book book"
        "new new"
        "footer footer";
    }
  }
  